body {
  margin: 0;
  padding: 0;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }
  
}

.avatar {
    vertical-align: middle;
    width: 25 px;
    height: 25px;
	border: 1px solid green;
	padding : 1px;
    border-radius: 50% 15%;
	
}

.avatar-user {
    vertical-align: middle;
    width: 25 px;
    height: 25px;
	border: 1px solid blue;
	padding : 1px;
    border-radius: 50% 15%;
	
}
